:root{
    --primary: #2c6975;
    --secondary: #68b2a0;
    --third: #cde0c9;
    --fourth: #e0ecde;
    --background: #fafafa;
}
.btn-default{
    color: #fff;
    background: #3e8e7c;
    border-color: #3e8e7c;
}
.btn-default:hover{
    color: #fff;
    background: #2f7264;
    border-color: #295c52;
}
.btn-default:focus{
    box-shadow:  #295c52;
}
.btn-default:active{
    color: #fff;
    background: #295c52;
    border-color: #254a44;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default:disabled{
    color: #295c52;
    background: #0f2422;
    border-color: #0f2422;
}
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background: #e0ecde;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb{
    background: #68b2a0;
    border-radius: 100vw;
}
body{
    line-height: 1.5;
    background: var(--background);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    line-height: 1.5;
}
aside{
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 1;
}
aside .logo img{
    width: 40px;
}
aside ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0!important;
    margin-bottom: 0px;
}
aside li{
    list-style: none;
}
aside a{
    position: relative;
    height: 50px;
    width: 60px;
    margin: 8px;
    overflow: hidden;
    background: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}
aside a:hover{
    background: white;
    margin: 8px 140px 8px 30px;
    padding: 0 30px 0 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    text-decoration: none;
}
aside a .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}
aside .active i, aside .active .item{
    color: #68b2a0;
    color: linear-gradient(135deg, rgba(104,178,160,1) 0%, rgba(205,224,201,1) 100%);
}
aside .activated{
    position: relative;
}
aside .activated::before{
    content: '';
    position: absolute;
    bottom: 2px;
    right: 50%;
    transform: translate(50%, -50%);
    background: #68b2a0;
    border-radius: 100px;
    height: 8px;
    width: 8px;
    transition: all 0.3s ease-out;
    z-index: 1;
}
aside .activated:hover::before{
    bottom: 10px;
    z-index: 0;
}
aside i{
    font-size: 30px;
    color: #c8c8c8;
}
aside .item{
    position: absolute;
    color: #c8c8c8;
    top: 12px;
    right: 75px;
}
aside .separate{
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #dadada;

}
form button{
    background: none;
    border: none;
}
form span{
    color: #c8c8c8;
}
form button:hover i, form button:hover span{
    color: #68b2a0;
}
#loading{
    height: 100vh;
}
.cube {
    height: 120px;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sr, .sl{
    display: grid;
    grid-auto-columns: 1fr;
}
.sr{
    grid-template-rows: 1fr 1fr 0.2fr;
}
.sl{
    grid-template-rows: 0.2fr 1fr 1fr;
}
.cube_item {
  height: 40px;
  width: 40px;
  transition: all 0.2s ease-in;
}
.cube_x {
  background-color: var(--secondary);
  animation: animateLoaders 1s infinite;
}
.cube_y {
  background-color: var(--primary);
  animation: animateLoaders 1s 0.5s infinite;
}
.cube1, .cube3{
  border-radius: 0px 50px 50px 50px;
}
.cube2, .cube4{
  border-radius: 50px 50px 0px 50px;
}
@keyframes animateLoaders {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}
#content{
    animation: showContent 0.5s ease;
}
main{
    width: calc(100% - 80px);
    float: left;
    padding: 20px 0;
}
.manage{
    width: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-badge{
    transition: ease 0.3s;
    color: #333;
    animation: profilehover 0.4s;
}
.profile-badge:hover{
    position: relative;
    color: #6ab3a1;
    transform: scale(1.05);
    margin-right: 9rem;
}
.profile-badge:hover::before{
    content: 'الملف الشحصي';
    position: absolute;
    top: 13px;
    right: -140px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    padding: 10px;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}
.profile-badge:hover::after{
    content: '';
    position: absolute;
    top: 25px;
    right: -19.6px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}
nav .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.btn-light{
    background: transparent;
    border-radius: 0!important;
    border: none!important;
}
.btn-light:hover{
    --bs-btn-hover-bg:#eee!important;
}
.profile img{
    width: 50px;
    height: 50px;
    box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.1);
}
.profile h5{
    margin-bottom: 0;
}
/*notification*/
/*notification*/
.notification .btn-default{
    background-color: #68b2a0!important;
    border: none!important;
}
.notification .btn-default:hover{
    background-color: #2c6975!important;
    border: none!important;
}
.notification .btn-default:active{
    background-color: #2c6975!important;
    border: none!important;
    color: #fff!important;
}
#unreadCount{
    display: none;
}
.panel{
    display: none;
    width: 400px;
    top: 55px;
    left: -8.2px;
}
.panel::before{
    content: '';
    position: absolute;
    top: -8px;
    left: 20px;
    height: 15px;
    width: 15px;
    border-radius: 6px 0px 0px 0px;
    transform: rotate(45deg);
    background: #fff;
    box-shadow: var(--bs-box-shadow-sm);
    z-index: -1;
}
.header{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.notification hr{
    margin: 0;
    color: #e9e9e9;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 1;
}
.body::-webkit-scrollbar{
    width: 3px;
}
.body::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 0!important;
}
.body::-webkit-scrollbar-thumb{
    background: #e3e3e3;
    border-radius: 0!important;
}
/*main*/
.allmain{
    display: flex;
    justify-content: space-between;
}
.main-right{
    width: 65%;
}
.main-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.main-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-bottom: 70px;
    width: 100%;
    height: 350px;
    background: #68b2a0;
    background: linear-gradient(200deg, rgba(104,178,160,1) 0%, rgba(205,224,201,1) 100%);
    border-radius: 20px;
    overflow: hidden;
}
.main-head svg{
    height: 100%;
}
.main-head .text{
    width: 50%;
}
.main-head h1{
    line-height: 1.5;
    color: white;
}
.main-head h3{
    color: #e0ecde;
}
.counter .box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 250px;
    min-width: 250px;
    border-radius: 20px;
    color: white;
}
.counter .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter h2, .counter h3{
    font-weight: 700;
    color: black;
}
.hexagon1 {
    cursor: default;
    position: relative;
    width: 60px; 
    height: 34.64101615137755px;
    background-color: #ffa427;
    margin: 17.320508075688775px auto 0 auto;
    box-shadow: 0 0 0px rgba(0,255,255,0);
    border-left: solid 0px #ffffff;
    border-right: solid 0px #ffffff;
    display: grid;
    transition: 0s;
}

.hexagon1:before, .hexagon1:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 42.426406871192846px;
    height: 42.426406871192846px;
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 8.786796564403577px;
    box-shadow: 0 0 0px rgba(0,255,255,0);
    transition: 0s;
}

.hexagon1:before {
    top: -21.213203435596423px;
    border-top: solid 0px #ffffff;
    border-right: solid 0px #ffffff;
}

.hexagon1:after {
    bottom: -21.213203435596423px;
    border-bottom: solid 0px #ffffff;
    border-left: solid 0px #ffffff;
}
.counter .st{
    background: #fbedd9;
}
.counter .st i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    z-index: 3;
}
.hexagon2 {
    cursor: default;
    position: relative;
    width: 60px; 
    height: 34.64101615137755px;
    background-color: #1b8be3;
    margin: 17.320508075688775px auto 0 auto;
    box-shadow: 0 0 0px rgba(0,255,255,0);
    display: grid;
    transition: 0s;
}

.hexagon2:before, .hexagon2:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 42.426406871192846px;
    height: 42.426406871192846px;
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 8.786796564403577px;
    box-shadow: 0 0 0px rgba(0,255,255,0);
    transition: 0s;
}

.hexagon2:before {
    top: -21.213203435596423px;
    border-top: solid 0px #ffffff;
    border-right: solid 0px #ffffff;
}

.hexagon2:after {
    bottom: -21.213203435596423px;
    border-bottom: solid 0px #ffffff;
    border-left: solid 0px #ffffff;
}
.counter .te{
    background: #dfedf7;
}
.counter .te i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    z-index: 3;
}
.hexagon3 {
    cursor: default;
    position: relative;
    width: 60px; 
    height: 34.64101615137755px;
    background-color: #ef2b58;
    margin: 17.320508075688775px auto 0 auto;
    box-shadow: 0 0 0px rgba(0,255,255,0);
    border-left: solid 0px #ffffff;
    border-right: solid 0px #ffffff;
    display: grid;
    transition: 0s;
}

.hexagon3:before, .hexagon3:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 42.426406871192846px;
    height: 42.426406871192846px;
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 8.786796564403577px;
    box-shadow: 0 0 0px rgba(0,255,255,0);
    transition: 0s;
}

.hexagon3:before {
    top: -21.213203435596423px;
    border-top: solid 0px #ffffff;
    border-right: solid 0px #ffffff;
}

.hexagon3:after {
    bottom: -21.213203435596423px;
    border-bottom: solid 0px #ffffff;
    border-left: solid 0px #ffffff;
}
.counter .le{
    background: #f9e5ea;
}
.counter .le i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    z-index: 3;
}
.students{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.students .box{
    display: grid;
    grid-template-columns: 0.3fr 1.1fr 0.5fr 1.5fr 0.3fr;
    justify-items: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
    background: #fff;
}
.students img, .students svg{
    height: 50px;
}
.students h5{
    margin-bottom: 0;
}
.students .bio{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0;
}
.wrapper{
    border: solid 0.1px #ccc;
}
.wrapper .header{
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 20px 30px 5px;
    justify-content: space-between;
}
.wrapper .header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1px;
    background: #ccc;
    right: 0;
    bottom: 0;
}
.header .icons{
    display: flex;
}
.header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}
.icons span:last-child{
    margin-right: -10px;
}
.header .icons span:hover{
    background: #f2f2f2;
}
.header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}
.calendar{
    padding: 20px 20px 0;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
ol, ul {
    padding-right: 0;
}
.calendar .days{
    margin-bottom: 20px;
}
.calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: clamp(0.8rem, 1.07rem, 1.2rem);
}
.calendar .weeks li{
    font-weight: 500;
    cursor: default;
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li.active::before{
    background: #68b2a0;
}
.days li:not(.active):hover::before{
    background: #f2f2f2;
}
.content-box{
    border: solid 0.1px #ccc;
}
.lessons-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px 0;
}
.lessons-container .box{
    background: #fff;
    border-radius: 15px;
    border: solid 0.1px #ddd;
    display: flex;
    gap: 15px;
    padding: 10px;
    transition: ease 0.3s;
    cursor: pointer;
}
.lessons-container .box:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.lessons-container .video-img{
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}
.lessons-container img{
    height: 100%;
}
.lessons-container .content{
    width: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}
.lessons-container .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    font-weight: 500;
}
.lessons-container h6{
    color: blue;
    float: left;
}
    @media (max-width: 1200px) {
        .main-head .text {
            width: 60%;
        }
        
        .main-head svg {
            height: 90%;
        }
        .counter .box{
            min-height: 190px;
            min-width: 190px;
        }
}
@media (max-width: 992px) {
    .main-head .text{
        width: 60%;
    }
    .main-head .text h1 {
        font-size: calc(1rem + 1.5vw);
    }
    .main-head svg {
        height: 80%;
    }
    .counter .box{
        min-height: 190px;
        min-width: 190px;
    }
}

@media (max-width: 768px) {
    main{
        width: 100%;
    }
    .panel{
        width: 370px;
        top: 65px;
        left: -585%;
    }
    .panel::before{
        display: none;
    }
    .row{
        display: block;
    }
    .col-sm-8 {
        width: 100%;
    }
    .bottom{
        margin-bottom: 50px;
    }
    .col-sm-4 {
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .main-head svg {
        height: 100%;
    }
    .counter .box {
        min-height: 190px;
        min-width: 190px;
    }
}